h1{
    background-color: rgb(26, 26, 151);
    color: red;
   padding: 30px; 
   grid-area: h1;
   margin: 0;
   text-align: center;

}

nav{
    background-color: rgb(196, 112, 16);
    color: white;
    grid-area: nav;
  
}



main{
    background-color: blueviolet;
    color: white;
    grid-area: main;

}



aside{
    background-color: yellow;
    color: black;
    grid-area: aside;
    text-align: center;
   
}

footer{
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;
}



    h2{
        background-color: blueviolet;
        color: red;
       margin: 0;
       text-align: center;
    
    }

    p{
        text-align: justify;
    }

    h6{
        color: blue;
       text-align: center;
    }

    a{
        color:yellowgreen

    }

    a:hover{
        color:white

    }
    
    body {
    display: -moz-inline-stack;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1 h1"
     "nav main aside"
     "footer footer footer";
    }



    