h1{
    background-color: rgb(26, 26, 151);
    color: red;
   padding: 30px; 
   grid-area: h1;
   margin: 0;
   text-align: center;
   font-family: Calibri;
   


}

nav{
    background-color: rgb(196, 112, 16);
    color: white;
    grid-area: nav;
  
}

nav ul{
    list-style-type:none;
    display: list-item;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

main{
    background-color: blueviolet;
    color: white;
    grid-area: main;

}



aside{
    background-color: yellow;
    color: black;
    grid-area: aside;
    text-align: center;
   
}

footer{
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;
}



h2{
    background-color: blueviolet;
    color: red;
    margin: 0;
    text-align: center;
}

p{
    text-align: justify;
}

h6{
    color: blue;
    text-align: center;
}

a{
    color:yellowgreen
}

a:hover{
    color:white
}
    
body{
    font-family: Calibri;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    grid-template-areas: "h1 h1 h1"
                        "nav main aside"
                        "footer footer footer";
}

h4{
    color: rgba(136, 95, 20, 0.507);      
}

h5{
    color: yellow;
}

h3{
    color: red;
}
    
img{
    border-radius: 4px;		
    height: auto;
    width: 550px;
  }